#logoPic {
    height: 30px;
    width: 30px;
}

#cursiveLogo {
    height: 30px;
    padding-left: 15px;
    border-left: 10px;
    border-left-color: black;
    border-style: solid;
    margin-left: 10px;
}

#discover-logo {
    height: 30px;
    width: 30px;
}

#like-logo {
    height: 30px;
    width: 30px;
}

#profile-logo {
    height: 30px;
    width: 30px;
}