.header {
    position: fixed;
    width: 100%;
    padding: 14px 2px 14px 2px;
    border-bottom: 1px solid #24232319;
}

#logoPic {
    height: 30px;
    width: 30px;
    margin-right: 10px;
    float: left;
    position: relative;
    top: 4px;
    padding-left: 20px;
}

#cursiveLogo {
    height: 30px;
    padding-left: 15px;
    padding-top: 4px;
    border-width: 0px 0px 0px .2px;
    border-color: transparent transparent transparent black;
    border-style: solid;
    margin-left: 10px;
    float: left;
}

.headerbutton {
    margin-left: 22;
}

#searchbox {
    margin-left: auto;
    margin-right: auto;
}

.header-buttons {
    float: right;
    padding-left: 24px;
    padding-right: 20px;
}

#discover-logo {
    height: 30px;
    width: 30px;
}

#like-logo {
    height: 30px;
    width: 30px;
}

#profile-logo {
    height: 30px;
    width: 30px;
}